---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$family-sans-serif: "Montserrat", sans-serif;
$content-blockquote-background-color: #FBF7C2;
$content-blockquote-border-left: #CFCA86;
$body-background-color: #fafafa;

@import 'bulma-0.8.0/bulma';

.mdp-header {
  text-align: center;
  border-bottom: 1px solid lightgrey;
  background-color: white;

  .mdp-logo {
    padding: 1em 1em 0 1em;
    display: inline-block;
  }

  .mdp-nav {
    padding: 1em;
    ul {
      display: block;
      li {
        display: inline-block;
        padding: 0 .5em;
      }
    }
  }
}

.content {
  img {
    width: 100%;
  }
}

.footer {
  border-top: 1px solid lightgray;
}
