<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li>
      <a href="/">Inicio</a>
    </li>

    {% if page.type == 'project' or page.type == 'page' %}
      {% if page.category.size > 0 %}
      <li>
        <a href="/{{ page.category | slugify: "latin" }}">{{ page.category }}</a>
      </li>
      {% endif %}
      <li class="is-active">
        <a href="#" aria-current="page">{{ page.title }}</a>
      </li>
    {% else %}
      {% if page.category.size > 0 %}
        <li class="is-active">
          <a href="#" aria-current="page">{{ page.category }}</a>
        </li>
      {% endif %}
    {% endif %}
  </ul>
</nav>
