<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>“El que no tiene memoria, se hace una de papel” <em>Gabriel García Márquez</em></p>
      <p>
        <strong>© Memoria de Papel</strong> | Síguenos a través de
        <a target="_blank" href="https://instagram.com/memoria_de_papel" title="Instagram">Instagram</a> |
        <a target="_blank" href="https://www.facebook.com/Memoriadepapel-773045782724933/" title="Facebook">Facebook</a> |
        <a target="_blank" href="https://twitter.com/memoria_depapel" title="Twitter">Twitter</a>
      </p>
    </div>
  </div>
</footer>
