{%- comment -%}
{% assign categories = projects | group_by: 'category' | sort_natural: 'name' %}
{% assign pages = site.pages | where: 'type', 'page' | sort: 'url' %}
<ul>
  {% for item in categories %}
  <li>
    <a href="/{{ item.name | slugify: "latin" }}">{{ item.name }}</a>
  </li>
  {% endfor %}
  {% for item in pages %}
  <li>
    <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
  </li>
  {% endfor %}
</ul>
{%- endcomment -%}

<header class="mdp-header">
  <div class="container">
    <a href="{{ site.baseurl }}/" class="mdp-logo">
      <img src="{{ site.baseurl }}/logo.png" alt="{{ site.title | escape }}" width="120" height="120">
    </a>
    <nav class="mdp-nav">
      <ul>
        <li>
          <a href="/albumes">Álbumes</a>
        </li>
        <li>
          <a href="/cuadernos">Cuadernos</a>
        </li>
        <li>
          <a href="/libros-de-firmas">Libros de firmas</a>
        </li>
        <li>
          <a href="/sobres">Sobres</a>
        </li>
        <li>
          <a href="/imanes">Imanes</a>
        </li>
        <li>
          <a href="/contactar/">Contactar</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
