{% include page-head.html %}
<body>
  <!-- header -->
  {% include header.html %}

  <!-- detail -->
  <article class="container">
    <section class="section">

      {% if page.type == 'home' %}
        <div class="is-hidden">
          <h1>{{page.title}}</h1>
          <p>{{page.subtitle}}</p>
        </div>
      {% else %}
        {% include breadcrumb.html %}
        <h1 class="title">{{page.title}}</h1>
      {% endif %}

      <div class="content">
        {{ content }}
      </div>

      {% capture filter_category %}{{ page.category }}{% endcapture %}
      {% if page.type != 'project' and page.type != 'page' %}
        {% include project-list.html category=filter_category %}
      {% endif %}

      {% if page.type == 'project' %}
        {% capture project %}{{ page.url }}{% endcapture %}
        {% include project-list.html category=filter_category current_project=project %}
      {% endif %}

      </section>
  </article>

  <!-- footer -->
  {% include footer.html %}

</body>
</html>
